.selected_image-section {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 30px;
}

.selected_image {
   width: 100%;
   min-width: 0;
   color: var(--dark-green);
}

.selected_image button {
   width: 100%;
   height: 100%;
}

.selected_image img {
   width: 100%;
   aspect-ratio: 1;
   border-radius: 40px;
   object-fit: cover;
}

.selected_image-btn:disabled {
   cursor: default;
}

.selected_image-active {
   background-color: var(--green);
   color: var(--dark);
}

.selected_image-interactive {
   transition: all;
   transition-duration: 300ms;
}

.selected_image-interactive:hover {
   transform: translateY(-6px);
}