@import url("../params.css");

.option-btn {
   width: auto;
   padding-left: 20px;
   padding-right: 20px;
}

.noselected {
   background-color: var(--gray);
   color: var(--dark-green);
}

.selected {
   background-color: var(--dark-green);
   color: var(--gray);
}