@import url("../params.css");

.unvisible {
   display: none;
}

.trace_defects-frame {
   display: flex;
   flex-direction: column;
   gap: 10px;
   border-radius: 30px;
   color: inherit;
}

.trace_defects-frame h4 {
   color: var(--dark-green);
}
