@keyframes messageShow {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.message {
   position: fixed;
   padding: 10px;
   margin: 6px;
   background-color: var(--gray);
   border-radius: 16px;
   color: var(--dark-green);
   box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.8);
   z-index: 100;
   animation: messageShow 100ms ease-in-out;
}