@import url("../params.css");

.result-image {
   width: 100%;
   background-color: var(--green);
}

.result-image img {
   width: 100%;
   height: auto;
   border-radius: 40px;
   display: block;
}

.result-image-inner {
   position: relative;
   width: 100%;
   display: inline-block;
}
